@page

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Omar.BookStore2.Permissions
@using Omar.BookStore2.Web.Pages.Books
@using Omar.BookStore2.Localization;
@model IndexModel
@inject IAuthorizationService AuthorizationService;
@inject IStringLocalizer<BookStore2Resource> L;

@section scripts{

    <abp-script src="/Pages/Books/Index.js"/>
}

<abp-card>

    <abp-card-header>
        <abp-row>

            <abp-column size-md="_6">
                <h2>@L["Books"]</h2>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(BookStore2Permissions.Books.Create))
                {
                    <abp-button id="NewBookButton" text="@L["NewBook"].Value" icon="plus" button-type="Primary"></abp-button>
                }
            </abp-column>

        </abp-row>
        
    </abp-card-header>

    <abp-card-body>
        <abp-table striped-rows="true" id="BooksTable"></abp-table>
    </abp-card-body>
</abp-card>